* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 40vh;

    background: silver;
    box-shadow: black;

    padding: 50px;
}

.title {
    text-shadow: 0 0 5px black;
}

.descrition {
    text-shadow: 0 0 2px black;
    font-weight: 100;
    letter-spacing: normal;
    word-spacing: normal;
}